# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
*.qmake.cache
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.Debug
*.Release

# QtCreator
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# Build directory
dist/
*IQ
*.exe

#Mac
*__MACOSX/
*.DS_Store
*IQ.app/

#Windows
*release/
*debug/
*users*

